.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

ul.form-group {
    padding: 0;
}

ul.form-group li {
    list-display: none;
    display: inline-block;
    padding-right: 15px;
}

.img-container {
    height: 350px;
}

.recipe-img {
    padding: 20px 0;
    max-width: 100%;
    height: 100%;
}

/*.col {*/
    /*border: 1px solid blue;*/
/*}*/

/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.img-container:hover .recipe-img {
    filter:contrast(50%);
    transition: all 250ms ease-in;
    transform: scale(1.2);
}

.img-container:hover .middle {
    opacity: 1;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 32px;
}
/*******************************************/

.recipe-detail-img {
    width: 200px;

}

.recipe-title {
    font-size: 30px;
    font-weight: bold;
}

table {
    margin: 0 auto;
}

.error {
    color: red;
}