<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>
        <span th:text="${#strings.capitalizeWords(title)}"></span>
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    </h1>

<nav th:replace="fragments :: navigation"></nav>

<br />

<p th:unless="${menus} and ${menus.size()}">no menus :(</p>

<ul>
    <li th:each="menu : ${menus}">
        <a th:href="'/menu/view/' + ${menu.id}" th:text="${menu.name}"></a>
    </li>
</ul>



<a href="/menu/add">Create Menu</a>

</div>
</body>
</html>