<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>
        <span th:text="${#strings.capitalizeWords(menu.name)}"></span>
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    </h1>

<p th:unless="${menu.recipes.size()}"><i>Please add a recipe!</i></p>


<div th:if="${menu.recipes} and ${menu.recipes.size()}">

    <h3 th:text="${menu.recipes.size() + ' Recipe(s)'}"></h3>

    <div class="row">
        <div class="col col-md-1"></div>
        <div class="col col-md-10">
            <div th:each="recipe : ${menu.recipes}" class="col img-container col-sm-4 text-center">
                <a th:href="@{/recipe?id=} + ${recipe.id}">
                    <img class="recipe-img" th:src="${recipe.imageUrl}"></img>
                    <div class="middle">
                        <p class="name" th:text="${#strings.capitalizeWords(recipe.name)}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col col-md-1"></div>
    </div>

</div>


<p><a th:href="'/menu/edit-item/' + ${menu.id}">Edit Menu</a></p>

</div>
</body>
</html>
