<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/recipes.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Recipe Tracker' + ${title == null ? '' : ' :: ' + title}">Recipe Tracker</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"></div>
            <div th:if="${sessionOn} == false" class="navbar-header">
                <a th:href="@{/all}" class="navbar-brand">Recipe Tracker</a>
            </div>
            <div th:if="${sessionOn} == true" class="navbar-header">
                <a th:href="@{/home}" class="navbar-brand">Recipe Tracker</a>
            </div>

            <div th:if="${sessionOn} == true" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/all}" class="navbar-brand">All Recipes</a></li>
                    <li><a th:href="@{/search}" class="navbar-brand">Search</a></li>
                    <li><a th:href="@{/list}" class="navbar-brand">List</a></li>
                    <li><a th:href="@{/recipe/add}" class="navbar-brand">Add</a></li>
                    <li><a th:href="@{/menu}" class="navbar-brand">Menus</a></li>
                    <li><a th:href="@{/logout}" class="navbar-brand">Logout</a></li>
                </ul>
            </div>
            <div th:if="${sessionOn} == false" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}" class="navbar-brand">Search</a></li>
                    <li><a th:href="@{/list}" class="navbar-brand">List</a></li>
                    <li><a th:href="@{/login}" class="navbar-brand">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>