<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="jumbotron bg-image">



    <div class="container">


        <h1>RECIPE TRACKER</h1>
        <p>Make us your online cookbook! Whip, bake, and post your next meal for free.</p>
        <p th:if="${sessionOn == false}"><a class="btn btn-primary btn-lg" th:href="@{/register}">Sign up for more recipes</a></p>

    </div>
    <!--   /container  -->
</div>


<div class="container">
        <h1>About</h1>

    <p>Whether you're cooking a feast for the holidays or just need some great ideas for dinner, we have all the recipes, cooking tips and techniques to make simple and delicious food you and your family will love.</p>


    <div class="container body-content">


        <h1>
            <span th:text="${#strings.capitalizeWords(title)}"></span>
            <span class="glyphicon glyphicon-cutlery"></span>
        </h1>

        <div th:unless="${recipes} and ${recipes.size()}">
            <h2>No Recipes</h2>
        </div>

        <div th:if="${recipes} and ${recipes.size()}">

            <h3 th:text="${recipes.size() + ' Recipe(s)'}"></h3>

            <div class="row">
                <div class="col col-md-1"></div>
                <div class="col col-md-10">
                    <div th:each="recipe : ${recipes}" class="col img-container col-sm-4 text-center">
                        <a th:href="@{/recipe?id=} + ${recipe.id}">
                            <img class="recipe-img" th:src="${recipe.imageUrl}"></img>
                            <div class="middle">
                                <p class="name" th:text="${#strings.capitalizeWords(recipe.name)}"></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-md-1"></div>
            </div>

        </div>

        <div th:form="${login}"> </div>

    </div>



    <span></span>



</div>



</body>
</html>