<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="container body-content">
        <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
        <h2>View All</h2>
        <ul th:each="field : ${fields}">
            <li th:if="${field.name == 'All' or field.name == 'Username'}">
                <a th:href="@{/list/} + ${#strings.toLowerCase(field.name)}" th:text="${field.name}"></a>
            </li>
        </ul>
    </div>

</body>
</html>