<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:unless="${recipes} and ${recipes.size()}">
        <h2>No Results</h2>
    </div>

    <div th:fragment="recipes-list">
        <div th:if="${recipes}">

            <h3 th:text="${recipes.size() + ' Result(s)'}"></h3>

            <div  th:each="recipe : ${recipes}">
                <table  th:fragment="single-recipe" class="recipe-listing">
                    <tr>
                        <td><img class="recipe-detail-img" th:src="${recipe.imageUrl}" /></td>
                        <td>
                            <p class="recipe-title" th:text="${#strings.capitalizeWords(recipe.name)}" />
                            <p th:text="'By: '+ ${recipe.author.username}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Servings</th>
                        <td th:text="${recipe.serving}"></td>
                    </tr>
                    <tr>
                        <th>Calories/Serving</th>
                        <td th:text="${recipe.calorie}"></td>
                    </tr>
                    <tr>
                        <th>Ingredients</th>
                        <td>
                            <span th:each="ingredient : ${#strings.arraySplit(recipe.ingredient, ';')}">
                                <li th:text="${ingredient}"></li>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>

</body>
</html>