<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:unless="${recipes} and ${recipes.size()}">
        <h2>No Results</h2>
    </div>

    <div th:fragment="recipes-list">
        <div th:if="${recipes}">

            <h3 th:text="${recipes.size() + ' Result(s)'}"></h3>

            <div th:each="recipe : ${recipes}">
                <table  th:fragment="single-recipe" class="recipe-listing">
                    <tr>
                        <td><img class="recipe-detail-img" th:src="${recipe.imageUrl}" /></td>
                        <td>
                            <p class="recipe-title" th:text="${#strings.capitalizeWords(recipe.name)}" />
                            <span>By: </span><a th:text="${recipe.author.username}" th:href="@{/user?id=} + ${recipe.author.id}"></a>
                            <br />
                            <a th:if="${isAuthor}" th:href="@{/recipe/edit/} + ${recipe.id}" >
                                <button>Edit Recipe</button>
                            </a>

                            <div th:if="${sessionOn == true and not #lists.contains(recipe.favoritedBy, sessionUser)}">
                                <form method="post" style="max-width:600px;" action="/favorite/add">
                                    <input type="hidden" th:value="${recipe.id}" name="recipeId" />
                                    <input type="submit" value="Favorite" />
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Servings</th>
                        <td th:text="${recipe.serving}"></td>
                    </tr>
                    <tr>
                        <th>Calories/Serving</th>
                        <td th:text="${recipe.calorie}"></td>
                    </tr>
                    <tr>
                        <th>Ingredients</th>

                        <td>
                            <li th:each="ingredient : ${#strings.arraySplit(recipe.ingredient, '&#10;')}">
                                <label th:for="${ingredient}" th:text="${ingredient}"></label>
                            </li>

                            <!--<form method="post" style="max-width:600px;" action="/checklist">-->
                                <!--<div class="checkbox"-->
                                     <!--th:each="ingredient : ${#strings.arraySplit(recipe.ingredient, '&#10;')}">-->
                                    <!--<input type="checkbox" name="ingredientNames"-->
                                           <!--th:value="${ingredient}" th:id="${ingredient}"/>-->
                                    <!--<label th:for="${ingredient}" th:text="${ingredient}"></label>-->
                                <!--</div>-->
                                <!--<input type="submit" value="Add Ingredients" />-->
                            <!--</form>-->

                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <br />
    <br />

    <div th:unless="${favoritesOff}">
        <h1>
            <span th:text="${#strings.capitalizeWords(faveTitle)}"></span>
            <span class="glyphicon glyphicon-cutlery"></span>
        </h1>

        <div th:unless="${favorites} and ${favorites.size()}">
            <h2>No Recipes</h2>
        </div>

        <div th:if="${favorites} and ${favorites.size()}">

            <h3 th:text="${favorites.size() + ' Recipe(s)'}"></h3>

            <div class="row">
                <div class="col col-md-1"></div>
                <div class="col col-md-10">
                    <div th:each="recipe : ${favorites}" class="col img-container col-sm-4 text-center">
                        <a th:href="@{/recipe?id=} + ${recipe.id}">
                            <img class="recipe-img" th:src="${recipe.imageUrl}"></img>
                            <div class="middle">
                                <p class="name" th:text="${#strings.capitalizeWords(recipe.name)}"></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-md-1"></div>
            </div>

        </div>
    </div>
</div>

</body>
</html>