<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:unless="${recipes} and ${recipes.size()}">
        <h2>No Results</h2>
    </div>

    <div th:fragment="recipes-list">
        <div th:if="${recipes}">

            <h3 th:text="${recipes.size() + ' Result(s)'}"></h3>

            <div th:each="recipe : ${recipes}">
                <table  th:fragment="single-recipe" class="recipe-listing">
                    <tr>
                        <td><img class="recipe-detail-img" th:src="${recipe.imageUrl}" /></td>
                        <td>
                            <p class="recipe-title" th:text="${#strings.capitalizeWords(recipe.name)}" />
                            <span>By: </span><a th:text="${recipe.author.username}" th:href="@{/user?id=} + ${recipe.author.id}"></a>
                            <br />
                            <a th:if="${isAuthor}" th:href="@{/recipe/edit/} + ${recipe.id}" >
                                <button>Edit Recipe</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Servings</th>
                        <td th:text="${recipe.serving}"></td>
                    </tr>
                    <tr>
                        <th>Calories/Serving</th>
                        <td th:text="${recipe.calorie}"></td>
                    </tr>
                    <tr>
                        <th>Ingredients</th>

                        <td>
                            <form method="post" style="max-width:600px;" action="/checklist">
                                <div class="checkbox"
                                     th:each="ingredient : ${#strings.arraySplit(recipe.ingredient, '&#10;')}">
                                    <input type="checkbox" name="ingredientNames"
                                           th:value="${ingredient}" th:id="${ingredient}"/>
                                    <label th:for="${ingredient}"
                                           th:text="${ingredient}"></label>
                                </div>
                                <input type="submit" value="Add Ingredients" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>

</body>
</html>