<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>

</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBW5IOYE8ONV3k4z3E6rMrW2vO9iLRzsyM'></script>
    <div style='overflow:hidden;height:400px;width:520px;'>
        <div id='gmap_canvas' style='height:400px;width:520px;'></div>
    </div>
    <a href='https://mapgenerator.org/'>google maps in html einbinden</a>
    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=8b1e9066b0032732b43f5a69713abd914d6611ea'></script>
    <script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(47.6160481,-122.30965259999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(47.6160481,-122.30965259999999)});infowindow = new google.maps.InfoWindow({content:'<strong>Trader Joes</strong><br>1700 E Madison St<br>98122 Seattle<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

</div>

</body>
</html>