<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${jobForm}" method="post">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input th:field="*{name}" />
            <div th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label th:for="employerId">Employer</label>
            <select th:field="*{employerId}">
                <option th:each="ingredient : *{ingredients}"
                        th:value="${ingredient.id}"
                        th:text="${ingredient.value}"></option>
            </select>
        </div>

        <!-- TODO #5 - Create <select> dropdowns for other recipe fields -->

        <div class="form-group">
            <label th:for="locationId">Location</label>
            <select th:field="*{locationId}">
                <option th:each="serving : *{servings}"
                        th:value="${serving.id}"
                        th:text="${serving.value}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="coreCompetencyId">Skill</label>
            <select th:field="*{coreCompetencyId}">
                <option th:each="imageUrl : *{coreCompetencies}"
                        th:value="${imageUrl.id}"
                        th:text="${imageUrl.value}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="positionTypeId">Position Type</label>
            <select th:field="*{positionTypeId}">
                <option th:each="calorie : *{calories}"
                        th:value="${calorie.id}"
                        th:text="${calorie.value}"></option>
            </select>
        </div>

        <input type="submit" value="Add Job" />
    </form>

</div>

</body>
</html>