<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <!-- // TODO #2 - display the recipe fields, one per row -->
    <table th:replace="list-recipes :: single-recipe">
    </table>

    <br/>
    <a th:href="@{/recipe/edit/} + ${recipe.id}" >
        <button th:if="${isAuthor}" class="center-block">Edit Recipe</button>
    </a>
</div>

</body>
</html>